@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Yantramanav:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.f_f_yantramanva {
    font-family: 'yantramanav';
}

.f_f_poppins {
    font-family: 'poppins';
}

.container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding-left: -12px;
    padding-right: -12px;
}

.d_flex {
    display: flex;
}

.d_none {
    display: none;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.flex_direction_column {
    flex-direction: column;
}

.gap_30 {
    gap: 30px;
}

.gap_23 {
    gap: 23px;
}

.gap_60 {
    gap: 60px;
}

.gap_5 {
    gap: 5px
}

.w_100 {
    width: 100%;
}

.w_130 {
    width: 130%;
}

.vh_100 {
    height: 100vh;
}

.py_40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.py_48 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.pl_12 {
    padding-left: 12px;
}

.bg_img {
    background-image: url('../image/layer.png'), url('../image/Rectangle\ 18.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    height: 100%;
}


/*---------------------------header---------------------------*/

.line2::before {
    content: '';
    width: 100%;
    height: 10px;
    background-color: #01C8FF;
}

.col_8 {
    width: 66.66%;
    padding-right: 12px;
}

.logo {
    font-size: 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
}

.logo_c {
    color: #2c49ff;
}

.logo_c2 {
    color: #01C8FF;
}

.aquarow {
    position: relative;
}

.bluerow::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 8px;
    left: 0;
    background-color: #2C49FE;
    bottom: 0;
}

.bluerow {
    position: relative;
}

.aquarow::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 8px;
    left: 0;
    bottom: 0;
    background-color: #01C8FF;
}

.button {
    color: #FFF;
    font-size: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    background-color: #2c49ff;
    border: 2px solid transparent;
    border-radius: 35px;
    text-align: center;
    padding: 11px 28px;
    transition: all linear 400ms;
}

.button:hover {
    background-color: #FFF;
    color: #2c49ff;
    border: 2px solid #2c49ff;
}

.navbar {
    color: #FFF;
    font-size: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    background-color: #2a41c7;
    border: 2px solid transparent;
    padding: 17px 23px;
    border-radius: 50px;
}

.col_3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.div {
    position: relative;
}

.div::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 60px;
    right: 0;
    margin-left: 40px;
    background-color: #FFFFFF;
}

.button1 {
    color: #2C49FE;
    font-size: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    background-color: white;
    border: 2px solid transparent;
    border-radius: 35px;
    text-align: center;
    padding: 11px 28px;
    transition: all linear 400ms;
}

.button1:hover {
    background-color: #2C49FE;
    color: white;
    border: 2px solid white;
}

.h2_h {
    color: #FFF;
    font-size: 16px;
    font-family: 'Yantramanav';
    font-style: normal;
    font-weight: 500;
}

.p2_texts {
    color: rgba(255, 255, 255, 0.70);
    font-size: 11px;
    font-family: 'Yantramanav';
    font-style: normal;
    font-weight: 400;
}

.line::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 8px;
    top: 68%;
    left: 33%;
    background-color: #01C8FF;
}

.line1 {
    position: absolute;
    content: '';
    width: 30%;
    height: 8px;
    top: 68%;
    left: 33%;
    background-color: #2C49FE;
}

.h1 {
    color: #FFF;
    font-size: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    max-width: 900px;
    padding-top: 48px;
}

.p1 {
    color: #FFF;
    font-size: 14px;
    font-family: 'Yantramanav';
    font-style: normal;
    font-weight: 400;
    max-width: 740px;
    padding-top: 18px;
    padding-bottom: 33px;
}

.p_1 {
    color: #FFF;
    font-size: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}


/*----------------------section2----------------------*/

.col_6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.img {
    width: 80%;
    height: 80%;
    transform: rotate(1.284deg);
    box-shadow: 0px 19.89784812927246px 44.477
}

.box {
    position: relative;
    width: 260px;
    height: 235px;
    border-radius: 5px;
    border: 1px solid #2c49ff;
    padding-top: 48px;
    color: #FFFFFF;
    transition: all linear 1s;
}

.gap_30 {
    gap: 30px;
}

.box:hover {
    background-color: #2C49FE;
}

.circle {
    position: absolute;
    top: -14%;
    left: 35%;
    width: 79px;
    height: 79px;
    background-color: #ffffff;
    border-radius: 50px;
    border: 2px solid #2c49ff;
}

.p2 {
    padding-bottom: 25px;
    padding-top: 12px;
    margin-bottom: 20px;
}

.h3 {
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
    color: #2C49FE;
    transition: all linear 1s;
}

.box:hover .h3 {
    color: #ffff;
}

.p3 {
    color: #2d3cae;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 170px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    transition: all linear 1s;
}

.box:hover .p3 {
    color: white;
}

.mt_35 {
    margin-top: 35px;
}

.h4 {
    color: #000;
    font-size: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    padding-top: 21px;
}

.p4 {
    color: rgba(0, 0, 0, 0.70);
    font-size: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    padding-top: 6px;
    padding-bottom: 9px;
}


/*-----------------------section3-----------------------*/

.text-align-center {
    text-align: center;
}

.bg_image {
    background-repeat: no-repeat;
    background-image: url('../image/Rectangle\ 28.png'), url('../image/Rectangle\ 27.png');
    background-position-x: center;
    background-size: cover;
    width: 100%;
}

.col_3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.h_text {
    color: #FFF;
    text-align: center;
    font-size: 35px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    max-width: 708px;
    margin-left: auto;
    margin-right: auto;
}

.p_text {
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.pt_30 {
    padding-top: 30px;
}

.h2 {
    color: #FFF;
    font-size: 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
}

.p6 {
    color: #FFF;
    font-size: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}


/*------------------------section4------------------------*/

.col_4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.box_shadow {
    border-radius: 5px;
    background: #FFF;
    padding: 13px;
    box-shadow: 2px 9px 32px 0px rgba(0, 0, 0, 0.06);
}

.h5_text {
    color: #000;
    font-size: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    padding-top: 5px;
    max-width: 270px;
    padding-left: 20px;
}

.p1_text {
    color: rgba(0, 0, 0, 0.70);
    font-size: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    max-width: 250px;
    padding-top: 5px;
    padding-left: 20px;
}

.p2_text {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    padding-top: 13px;
    padding-left: 20px;
}

.p3_text {
    color: rgba(0, 0, 0, 0.70);
    font-size: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    padding-bottom: 15px;
}

.h2_text {
    color: #000;
    font-size: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    max-width: 330px;
    padding-top: 10px;
    padding-bottom: 13px;
}

.h2_heading {
    color: #000;
    font-size: 13px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
}

.position_rel {
    position: relative;
}

.aroicon {
    position: absolute;
    bottom: 9%;
    right: 2%;
}


/*--------------------------------section5--------------------------------*/

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 12px;
    margin-top: 12px;
}

.input1 {
    width: 98%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 12px;
    margin-right: 12px;
}

.h4_text {
    color: #000;
    font-size: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    padding-top: 9px;
    padding-bottom: 5px;
}

.h5_heading {
    color: #000;
    font-size: 35px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    padding-bottom: 14px;
}

.p4_text {
    color: rgba(0, 0, 0, 0.70);
    font-size: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    max-width: 530px;
    padding-bottom: 15px;
}

.button3 {
    color: #FFF;
    font-size: 16px;
    font-family: 'Poppins';
    font-style: normal;
    width: 100%;
    font-weight: 600;
    background-color: #2c49ff;
    border: 2px solid transparent;
    border-radius: 35px;
    text-align: center;
    padding: 11px 28px;
    margin-top: 25px;
    transition: all linear 400ms;
}

.button3:hover {
    background-color: #FFF;
    color: #2c49ff;
    border: 2px solid #2c49ff;
    transition: all linear 300ms;
}

.bg_color {
    background-color: #000000;
    width: 100%;
}

.p3_paragraph {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.py_12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.col_6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col_7 {
    width: 58.44%;
    padding-left: 12px;
    padding-right: 12px;
}

ul li a {
    color: white;
    font-family: 'poppins';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.ul li a :hover {
    text-decoration: 3px solid blue underline;
}

.text {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
    padding-bottom: 12px;
}

.box3 {
    width: 100%;
    height: 100%;
    background-color: #18205c;
    text-align: center;
}

.p_box {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    padding: 14px;
    text-align: center;
    max-width: 12px;
}

.gap_20 {
    gap: 10px;
}

.p5_paragraph {
    color: #FFF;
    font-size: 10px;
    font-family: 'Poppins';
    text-align: center;
}


/*---------------------section5---------------------*/

.icon_box {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-top: 18px;
}

.icon_box span {
    height: 6px;
    width: 100%;
    display: flex;
    background-color: gray;
    margin-top: 4px;
}

.col_12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.flex_none {
    display: none;
}

.pt_12 {
    padding-top: 12px;
}

.pt_24 {
    padding-top: 24px;
}

.mt_20 {
    margin-top: 20px;
}

@media(max-width:992px) {
    .my_nav {
        flex-direction: column;
        position: fixed;
        bottom: 0;
        right: -100%;
        width: 100%;
        height: calc(100vh - 47px);
        padding-left: 0;
        justify-content: center;
        transform: translate(-50% -50%);
        transition: all linear 400ms;
        background-color: rgb(168, 168, 234);
        margin-top: 45px;
        z-index: 2;
    }
    input[type="checkbox"]:checked~ul {
        right: 0;
    }
}

@media (min-width:576px) {
    .col_sm_6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .col_sm_12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .mt_sm {
        margin-top: 15px;
    }
    .sm_text {
        font-size: small;
    }
    .sm_flex {
        display: flex;
    }
    .sm_pt_12 {
        padding-top: 12px;
    }
    .sm_pt_24 {
        padding-top: 24px;
    }
}

@media (min-width:768px) {
    .md_flex {
        display: flex;
    }
    .col_md_4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .col_md_6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .col_md_12 {
        width: 100%;
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .mt_md {
        margin-top: 20px;
    }
    .md_button {
        background-color: #18205c;
        color: #FFF;
        padding: 17px 23px;
        border: 2px solid transparent;
    }
    .md_pt_12 {
        padding-top: 12px;
    }
    .md_div {
        position: relative;
    }
    .md_div::after {
        position: absolute;
        content: '';
        width: 2px;
        height: 100%;
        right: 0;
        margin-left: 40px;
        background-color: #FFFFFF;
        text-align: center;
    }
    .md_h1 {
        font-size: 40px;
    }
    .md_justify-content-center {
        justify-content: center;
    }
    .md_pt_0 {
        padding-top: 0;
    }
}

@media (min-width:992px) {
    .lg_flex {
        display: flex;
    }
    .col_lg_3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .col_lg_4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .col_lg_6 {
        width: 50%;
    }
    .col_lg_5 {
        width: 41.66%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .col_lg_7 {
        width: 58.33%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .mt_0_lg {
        margin-top: 0px;
    }
    .lg_logo {
        font-size: 36px;
    }
    .lg_f_p {
        max-width: 300px;
    }
    .lg_p5 {
        font-size: 14px;
    }
    .lg_h4 {
        font-size: 48px;
    }
    .lg_p4 {
        font-size: 16px;
    }
    .lg_h2 {
        font-size: 35px;
    }
    .lg_p6 {
        font-size: 18px;
    }
    .lg_h2_h {
        font-size: 20px;
    }
    .lg_pt_12 {
        padding-top: 12px;
    }
    .lg_pt_0 {
        padding-top: 0;
    }
    .lg_h2_heading {
        font-size: 16px;
    }
    .lg_h5_text {
        font-size: 24px;
    }
    .lg_h1 {
        font-size: 64px;
    }
    .lg_p1 {
        font-size: 20px;
    }
    .lg_logo {
        font-size: 36px;
    }
    .lg_p2_text_s {
        font-size: 14px;
    }
    .lg_div {
        position: relative;
    }
    .lg_div::after {
        position: absolute;
        content: '';
        width: 2px;
        height: 60px;
        right: 0;
        margin-left: 40px;
        background-color: #FFFFFF;
    }
    .lg_button1 {
        font-size: 16px;
    }
    .d_lg_none {
        display: none;
    }
    .lg_mt_48 {
        margin-top: 48px;
    }
    .lg_mt_30 {
        margin-top: 30px;
    }
    .lg_max-width {
        max-width: 130%;
    }
    .lg_border_radius {
        border-radius: 50px;
    }
    .lg_justify-content-center {
        justify-content: left;
    }
}